.wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../images/MW.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.smallWrapper {
  @extend .wrapper;
  background-image: url("../../images/SS.jpg");
  background-size: auto;
  height: 7%;
  flex-direction: row;
  font-size: 20px;
  font-weight: 400;
}

.peopleFilmsStarships {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-weight: 700;
}

.smallPeopleFilmsStarships {
  @extend .peopleFilmsStarships;
  font-size: 20px;
  font-weight: 500;
}

.vehiclesSpeciesPlanets {
  @extend .peopleFilmsStarships;
  height: 0;
}

.smallVehiclesSpeciesPlanets {
  @extend .vehiclesSpeciesPlanets;
  height: 50%;
  font-size: 20px;
  font-weight: 500;
}

.lineHighlight {
  color: #1890ff;
  height: 10%;
}

.lineHighlight:hover {
  color: red;
  transition: background-color .5s, color .2s;
}



