.wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../images/MW.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.peopleFilmsStarships {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-weight: 700;
}

.lineHighlight {
  color: #1890ff;
  height: 10%;
}

.lineHighlight:hover {
  color: red;
  transition: background-color .5s, color .2s;
}

.vehiclesSpeciesPlanets {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-weight: 700;
}
